{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'minigen/css/profile.css'%}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" > 
   
    <title>{{ profile_user.username }}'s Profile </title>
</head>

<body>

<div class="container-fluid">
    <div class="container">    
        <div class="menu">
            <div class="mini-home">
                <Button type="button" > MiniWorld </button>
            </div>
            <div class="menu-home">
                <Button type="button" onclick="location.href='{% url 'home' %}'">
                    <i class="fa-solid fa-house" style="color: #1378DA;"></i> 
                </button>
            </div>
            <div class="menu-home">
                <Button type="button" onclick="location.href='{% url 'postmcq' %}'">
                    <i class="fa-solid fa-square-plus" style="color: #1378DA;"></i> 
                </button>
            </div>
        
            <div class="menu-home">
                <Button type="button" onclick="location.href='{% url 'notification' %}'">
                    <i class="fa-solid fa-bell" style="color: #1378DA;"></i> 
                </button>
            </div>
            <div class="menu-home">
                <Button type="button" onclick="location.href='{% url 'search' %}'">
                    <i class="fa-solid fa-magnifying-glass" style="color: #1378DA;"></i> 
                </button>
            </div>
            <div class="menu-home">
                <Button type="button" onclick="location.href='{% url 'profile' %}'">
                    <i class="fa-solid fa-circle-user" style="color: #1378DA;"></i> 
                </button>
            </div>
        </div>
    </div>
</div>


<div class="ref ">
    <div class="container-fluid ">
        <div class="container">
            <div class="tags ">    
                <button type="submit" onclick="location.href='{% url 'change_username' %}'"> Change Username </button>
                <button type="submit" onclick="location.href='{% url 'change_bio' %}'"> Change Bio </button>
                <button type="submit" onclick="location.href='{% url 'change_account_category' %}'"> Change Account Category </button>
                <button type="submit" onclick="location.href='{% url 'update_country' %}'" > Update Country </button>
                <button type="submit" onclick="location.href='{% url 'change_gender' %}'"> Change Gender </button>
                <button type="submit" onclick="location.href='{% url 'change_dob' %}'"> Change DOB </button>
                <button type="submit" onclick="location.href='{% url 'change_email' %}'"> Change Email </button>
                <button type="submit" onclick="location.href='{% url 'change_phone_number' %}'"> Change Phone Number </button>
                <button type="submit" onclick="location.href='{% url 'change_password' %}'"> Change Password </button>
                <button type="submit" onclick="location.href='{% url 'change_profile_picture' %}'" > Change Photo </button>
            </div>
        </div>
    </div>
</div>
        
<div class="centre">
        
    <div class="centre-left">
        
        <div class="container-fluid">

            <div class="container">
                <div class="centre-left-top">
                    <h1> Profile </h1><hr>
                   
                   <div>
                        <a href="{% url 'profile_view' user.username %}"> 
                        <i class="fa-solid fa-user-secret" style="color: #74C0FC;"></i> View Profile </a>
                   </div>
                   
                   
                   <div>
                        <a href="#">
                        <i class="fa-solid fa-person-shelter" style="color: #74C0FC;"></i>  Contact </a>
                   </div>
                   <div>
                        <a href="#">
                        <i class="fa-solid fa-gear" style="color: #74C0FC;"></i>  Settings </a>
                   </div>
                   <div>
                        <a href="/">
                        <i class="fa-solid fa-right-from-bracket" style="color: #74C0FC;"></i>  Log out </a>
                   </div><br>      
                </div>
            </div>
    
            
        </div>

    </div>
 
    
    <div class="centre-middle">
       
        <div class="container-fluid">
            
            <div class="container">
            <div class="profile-info">
                {% if request.user.profileinfo.image %}
                    <img src="{{ request.user.profileinfo.image.url }}" alt="Profile Picture">
                {% else %}
                <img src="{% static 'miniaccounts/images/teacher1.webp' %}" alt="profile-pic">
                {% endif %}
                <h4> {{ request.user.username }}  </h4>    
            </div>
            </div>

            <div class="container">
            <div class="profile-bio">
                <h2>  Bio </h2>
                <p> {{ request.user.profileinfo.bio }} </p>    
            </div> 
            </div>
        </div>

        <div class="container-fluid">
            <div class="container">
            <div class="profile-infos">
                <p>  Account category: {{ request.user.profileinfo.acc_type }} </p>
                <p>  Country: {{ request.user.profileinfo.country }} </p>
                <p>  Gender: {{ request.user.profileinfo.gender }} </p>
                <p>  Date of Birth: {{ request.user.profileinfo.dob }} </p>
                <p>  Email: {{request.user.email}} </p>
                <p>  Recovery Email: {{ request.user.profileinfo.email }} </p>
                <p>  Phone Number: {{ request.user.profileinfo.phone }} </p>      
            </div>

            
            </div>    
        </div>
    </div>        
    
    <div class="centre-right">

       <div class="container-fluid">
            
            <div class="container">
                <div class="centre-right-top">
                    <h1> Followers ({{ users.paginator.count }}) </h1>
                    <hr> 
                </div>
            </div>
            
       </div>

        
       
        
       <div class="container-fluid">
       {% if users %}
         {% for user in users %}
    <div class="container">
        <div class="centre-right-middle">
            <div class="centre-right-middle-profile-image">
                {% if user.profileinfo.image %}
                    <img src="{{ user.profileinfo.image.url }}" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'miniaccounts/images/teacher1.webp' %}" alt="profile-pic">
                {% endif %}
            </div>
            <div class="centre-right-middle-profile-info">
                <a href="{% url 'profile_view' user.username %}">{{ user.username }}</a>
                <p>{{ user.profileinfo.country }}&#x2022; {{ user.profileinfo.acc_type }} &#x2022; {{ user.profileinfo.followers.count }} </p>
            </div>
        </div>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    {% else %}
    <p>No followers found.</p>
{% endif %}
</div>

            
       </div>
    </div>
    
</div>
 


</body>
</html>