* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    border: 1px solid #FFFAFF;
}

a:link, a:visited {
    background-color: #FFFAFF;        
    color: black;   
    text-align: left;
    text-decoration: none;
    display: inline-block;
}
      
a:hover, a:active {
    background-color: #FFFAFF;
    color: blue;        
}

.container-fluid {
    
    border: 1px solid #FAF9FE;
    width: 100%;
    border-radius: 1%;   
}

.container {
    background-color:#FAF9FE;
    border: none;
    width: 98%;
    margin-left: 1%;
    float: left;
}

.menu {
    display: inline-block;
    background-color: #FAF9FE;
    width: 98%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.mini-home {
    background-color: #FAF9FE;
    width: 20%;
    margin-left: 1%;
    float: left;
    border: 1px solid #FAF9FE;
}

.mini-home button {
    background-color: #FAF9FE;
    width: 100%;
    font-family: 'Roboto';
    font-size: 2.5vw;
    text-align: center;
    border: 1px solid #FAF9FE;
    border: none;   
}

.mini-home button:active {
    background-color: #FAF9FE;
}

.mini-home button:hover {
    background-color: #1378DA;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
}



.menu-home {
    background-color: #FAF9FE;
    width: 10%;
    margin-left: 5%;
    float: left;
}

.menu-home button {
    background-color: #FAF9FE;
    width: 100%;
    font-size: 2.8vw;
    text-align: center;
    border: none;
    
}


.menu-home button:active {
    background-color: #FAF9FE;
}

.menu-home button:hover {
    background-color: lightgreen;
}

.ref {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    border: 1px solid #FAF9FE;
    margin-top: 1%;
    margin-left: 1%;
    display: inline-block;
}
.tags {
    background-color: #FAF9FE;
    overflow: visible;
    width: 100%;
    border: 1px solid #FAF9FE;
    margin-top: 0%;
    margin-left: 0%;
    display: inline-block;    
}

.tags button {
    background-color: #FAF9FE;
    width: auto;
    border: 1px solid #FAF9FE;
    font-size: 1.6vw;
    font-family: 'Roboto';
    font-weight: normal;
    float: left;
    margin-left: 1%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.tags button:hover {
    background-color: #1378DA;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
}

.centre {
    background-color: #FAF9FE;
    width: 100%;
    overflow: visible;
}

.centre-left{
    display: none;
    background-color: #FAF9FE;
    overflow: hidden;
    width: 27%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
}

.centre-left-top {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
}

.centre-left-top h1 {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 2.5vw;
    font-family: 'Roboto';
    font-weight: normal;
}

.centre-left-top button {
    background-color: #FAF9FE;
    overflow: visible;
    width: 90%;
    margin-top: 3%;
    margin-left: 0%;
    margin-bottom: 3%;
    font-size: 2.2vw;
    font-family: 'Roboto';
    font-weight: normal;
    border-radius: 20%;
    border: 1px solid black;

}

.centre-left-top button:hover {
    background-color: #1378DA;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
}


.centre-middle {
    overflow: hidden;
    background-color: #FAF9FE;
    display: inline;
    width: 40%;
    float: left;
    margin-top: 1%;
    margin-left: 27%;
}
    
.centre-middle-top {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
}

.centre-middle-top-signin button {
    background-color: #1378DA;
    overflow: visible;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 3%;
    font-size: 2vw;
    font-family: 'Roboto';
    font-weight: normal;
    border-radius: 5%;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
}

   
.centre-middle-top h1 {
    background-color: #FAF9FE;
    overflow: visible;
    width: 100%;
    margin-top: 1%;
    margin-left: 0%;
    font-size: 2.5vw;
    font-family: 'Roboto';
    font-weight: normal;
    text-align: center;
}

.centre-middle-top p {
    background-color: #FAF9FE;
    overflow: visible;
    width: 100%;
    margin-top: 1%;
    margin-left: 0%;
    font-size: 1.5vw;
    font-family: 'Roboto';
    font-weight: normal;
    text-align: center;
    color: black;
}

.centre-middle-middle {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
}

.signin-form {
    background-color:#FAF9FE;
    overflow: visible;
    width: 100%;
    margin-top: 1%;
    margin-left: 0%;
    border: none;
}

.signin-form input {
    background-color: #FAF9FE;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 0%;
    border:1px solid black;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    text-align: left;
}

.signin-form label {
    background-color: #FAF9FE;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 0%;
    border-color: #E7D3AE;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    text-align: left;
}

.signin-form button {
    background-color: #FAF9FE;
    overflow: visible;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 3%;
    font-size: 2vw;
    font-family: 'Roboto';
    font-weight: normal;
    border-radius: 20%;
    border: 1px solid black;
}

.signin-form button:hover {
    background-color: #1378DA;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
}

.centre-right {
    display: none;
    background-color: #FAF9FE;
    width: 27%;
    margin-top: 1%;
    margin-left: 2%;
    float: left;
}

.centre-right-top {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
}

.centre-right-top h1 {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 2.5vw;
    font-family: 'Roboto';
    font-weight: normal;
}

.centre-right-middle {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
}


.centre-right-middle-profile-image {
    background-color:#FAF9FE;
    overflow: visible;
    width: 25%;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid white;
    float: left;

}

.centre-right-middle-profile-image img {
    background-color: #FAF9FE;
    overflow: visible;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 50%;
    
}

.centre-right-middle-profile-info {
    background-color: #FAF9FE;
    overflow: visible;
    width: 70%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.centre-right-middle-profile-info a {
    background-color: #FAF9FE;
    overflow: visible;
    width: 70%;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1.5vw;
    font-family: 'Roboto';
    font-weight: normal;
    float: left;
}
.centre-right-middle-profile-info button {
    background-color: #FAF9FE;
    overflow: visible;
    width: 25%;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1.2vw;
    font-family: 'Roboto';
    font-weight: normal;
    float: left;
    border: 1px solid #74C0FC;
    border-radius: 10%;
}

.centre-right-middle-profile-info button:hover {
    background-color: #1378DA;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
} 

.centre-right-middle-profile-info p {
    background-color: #FAF9FE;
    overflow: visible;
    width: 95%;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1.2vw;
    font-family: 'Roboto';
    font-weight: normal;
    float: left;
}

.bottom {
    display: inline-block;
    background-color: #FAF9FE;
    width: 98%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.bottom-content {
    background-color: #FAF9FE;
    overflow: visible;
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
}



.bottom-content a {
    background-color: #FAF9FE;
    overflow: visible;
    width: auto;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 1.6vw;
    font-family: 'Roboto';
    font-weight: normal;
    color: black;
    border: 1px solid #FAF9FE;
}

.bottom-content a:hover {
    background-color: #1378DA;
    border: 1px solid #FAF9FE;
    color: #FAF9FE;
}